$fondo-body: url(../imagenes/fondo_beige.jpg);
$fondo-header: url(../imagenes/fondo_negro.jpg);
$fondo-footer: #c5563a;
$color-principal: #c5563a;
$background_nav-link: #e47b02 !important;
$color_nav-link: #fdde00 !important;
$color-cards-destacados: #c57966;
$color-bordes-cards: #af3c25;
$box-shadow-cards: 8px 8px rgba(0, 0, 0, 0.5);
$background-footer: #c5563a;
