@import "reseteo";
@import "variables";
@import "responsive";



body {
    background-image: $fondo-body;
}

#header {
    background-image: $fondo-header;
}

.gatito {
    animation-name: gatito;
    animation-duration: 3s;
    font-size: xx-large;
  }

  @mixin gatito-animation ($duration) {
    $name: gatito-#{unique-id()};
  
    @keyframes #{$name} {
      @content;
    }
  
    animation-name: $name;
    animation-duration: $duration;
    font-size: xx-large;
  }
  
  .gatito {
    @include gatito-animation(3s) {
      from { transform: translateX(700px)}
      to { transform: translateX(0p)}
    }
  }
  


.navbar {
    background: $color-principal;
}


.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

    li {
        a {
            &:hover {
                background-color: $background_nav-link;

                @include small {
                    background-color: transparent !important;
                    color: $color_nav-link;
                }
            }
        }
    }

    @include small {
        position: unset;
        left: unset;
        transform: unset;
    }
}



.card-index {
    border: 3px solid $color-bordes-cards;
    box-shadow: $box-shadow-cards;

    &:hover {
        transform: scale(1.05, 1.05);
    }

    img {}

    .card-body {
        background-color: $color-cards-destacados;

        p {}

        a {}
    }

    @include small {
        &:hover {
            transform: unset;
        }
    }
}


// ********************************* Extend ******************************

.card-index-a {
    @extend .card-index;

    .card-body {
        background-color: #c5563a !important;
    }
}

.card-index-b {
    @extend .card-index;

    .card-body {
        background-color: #c5705a !important;
    }
}

.card-index-c {
    @extend .card-index;

    .card-body {
        background-color: #cf988a !important;
    }
}

//******************************************************************************



// ******************************** Maps ***************************************

$colores-botones: (ver_noticias: rgb(32, 31, 31),
    ver_memes: rgb(70, 68, 68),
    ver_videos: rgb(103, 100, 100));

@each $nombre,
$valor in $colores-botones {
    .boton-#{$nombre} {
        background-color: $valor;
    }
}

//*******************************************************************************




footer {
    background-color: $background-footer;
}