* {
  margin: 0%;
  padding: 0%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/fondo_beige.jpg);
}

#header {
  background-image: url(imagenes/fondo_negro.jpg);
}

.navbar {
  background: #c5563a;
}

.nav-link:hover {
  background-color: #e47b02 !important;
}

.color1 {
  background-color: #c5563a;
}

.gatito {
  animation-name: gatito;
  animation-duration: 3s;
  font-size: xx-large;
}

@keyframes gatito {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0px);
  }
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

footer {
  background-color: #c5563a;
}

/*-----------------------------------------------------------------------PAGINA INDEX---------------------------------------------------------------------*/

.color-index {
  background-color: #c57966;
}
.card-index {
  border: 3px solid #af3c25;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
}

.card-index:hover {
  transform: scale(1.05, 1.05);
}

/*-----------------------------------------------------------------------PAGINA NOTICIAS------------------------------------------------------------------*/

#body-noticias {
  background-color: #e4d4c2;
  text-align: justify;
}

.noticias {
  border: 3px solid #af3c25;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #cd7f6c, #e4d4c2);
}

/*------------------------------------------------------------------------ PAGINA MEMES------------------------------------------------------------------*/

.imagen-meme {
  width: 100%;
  margin-bottom: 30px;
  border: 3px solid #af3c25;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
}

.imagen-meme:hover {
  transform: scale(1.05, 1.05);
}

/*-----------------------------------------------------------------------PAGINA TESTIMONIOS--------------------------------------------------------------*/

.tarjeta-testimonio {
  border: 3px solid #af3c25;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
}

.tarjeta-testimonio:hover {
  transform: scale(1.05, 1.05);
}

.body-testimonio {
  background-image: linear-gradient(to bottom, #d2998b, #e0a965);
}

.boton-enviar-testimonio:hover {
  transform: scale(1.05, 1.05);
}

/*-----------------------------------------------------------------------PAGINA CONTACTO------------------------------------------------------------------*/

.imagen-following_me {
  border: 3px solid #af3c25;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
}

.boton-enviar-contacto:hover {
  transform: scale(1.05, 1.05);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 576px) {
  .navbar-nav.navbar-center {
    position: unset;
    left: unset;
    transform: unset;
  }

  .nav-link:hover {
    background-color: transparent !important;
    color: #fdde00 !important;
  }
  .card-index:hover {
    transform: unset;
  }
  .imagen-meme:hover {
    transform: none;
  }

  .tarjeta-testimonio:hover {
    transform: none;
  }
}
